/target
.fastembed_cache
/.opencode/
/.devin/
/.crush/
# /linetime
TODO.md
.env
/idea
NOBUG.md
.perfil
*grep-oh-my-py.md
*glob-oh-my-py.md
*edit-oh-my-pi.md
*write-oh-my-pi.md
*write-port-decisions.md
*read-oh-my-pi.md
*opencode.md
/co-sh.com/
/.dev-notes/
COMMAND.md
SPEND.md
/skills/
